/* - Author: Julian Orth
   - Version: 1.0
	 - URL: https://github.com/jukoor/smart-weather-tab
	 - Date: 01.01.2023
	 - Purpose: Settings Window Styles
*/
/* === 04 SETTINGS === */
.app .settings_outer {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	width: 30px;
	height: 30px;
	z-index: 2;
}

.app .settings_trigger {
	border: none;
	box-shadow: none;
	outline: 0;
	padding: 0;
	background: transparent;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.app .settings_trigger::before {
	content: '';
	width: 130%;
	height: 130%;
	background: transparent;
	transition: background .3s ease-out;
	left: -9px;
	top: -8px;
	position: absolute;
	border-radius: 50%;
}

.app .settings_trigger:hover::before {
	background: #dbdbdb;
}

.app .settings_trigger .bar {
	width: 24px;
	height: 2px;
	top: 3px;
	left: 0;
	background: #333;
	position: absolute;
}

.app .settings_trigger .bar.mid {
	top: 11px;
}

.app .settings_trigger .bar.bot {
	top: 19px;
}

.app .settings_trigger .handle {
	background: #f5f5f5;
	position: absolute;
	width: 7px;
	left: 5px;
	top: 0px;
	height: 7px;
	border-radius: 50%;
	transition: transform .3s ease-out;
	border: 2px solid #333;
}

.app .settings_trigger .handle.mid {
	top: 9px;
	left: 14px;
}

.app .settings_trigger .handle.bot {
	top: 17px;
}

.app .settings_trigger:hover .handle.top {
	transform: translateX(6px);
}

.app .settings_trigger:hover .handle.mid {
	transform: translateX(-9px);
}

.app .settings_trigger:hover .handle.bot {
	transform: translateX(6px);
}

/* Settings Main Window */
.app .settings {
	background: #fff;
	box-shadow: 0px 4px 13px 5px #0000005c;
	width: 450px;
	height: 100%;
	pointer-events: none;
	top: 0;
	right: 0;
	transition: transform .5s ease-out;
	transform: translateX(500px);
	position: fixed;
	z-index: 10;
}

.app .settings .body {
	display: flex;
	flex-direction: column;
	padding: 3rem 2.5rem 1rem;
	flex: 1;
	height: 100%;
}

.app .settings.active {
	pointer-events: all;
	transform: translateX(0);
}

.app .blur_bg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	left: 0;
	background: hsl(0deg 0% 0% / 60%);
	z-index: 2;
	opacity: 0;
	/* transition: backdrop-filter .5s linear, opacity .5s linear; */
	pointer-events: none;
}

.app .blur_bg.active {
	opacity: 1;
	backdrop-filter: grayscale(1) blur(5px);
	pointer-events: all;
}

.app .settings .top_toolbar {
	margin-bottom: 0;
	width: 100%;
	padding-left: 50px;
	position: relative;
}

.app .settings .inner {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.app .settings .toggle {
	position: relative;
	display: inline-block;
	height: 30px;
	margin-left: auto;
}

.app .settings .toggle::before {
	content: attr(data-tooltip);
	position: absolute;
	background: #fff;
	border-radius: 5px;
	right: calc(100% + 15px);
	padding: 10px;
	z-index: 2;
	width: 173px;
	opacity: 0;
	box-shadow: 1px 1px 13px #949494;
}

.app .settings .toggle:hover::before {
	transition: opacity .3s linear 1.25s;
	opacity: 1;
}

.app .settings .toggle::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 9px solid #fff;
	border-bottom: 7px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	right: calc(100% + 6px);
	top: 10px;
	opacity: 0;
	z-index: 3;
}

.app .settings .toggle:hover::after {
	transition: opacity .3s linear 1.25s;
	opacity: 1;
}

.app .settings .toggle input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.app .settings .toggle label {
	user-select: none;
	position: relative;
}

.app .settings .toggle_inner {
	height: 30px;
	flex: 0 0 101px;
	border-radius: 25px;
	transition: background-color 0.3s ease-in-out;
	background: #c6c6c6;
	cursor: pointer;
	width: 105px;
}

.app .settings .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.app .settings .toggle_inner::before {
	content: attr(data-checked);
	position: absolute;
	top: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 29px;
	width: 55px;
	padding: 0 0px;
	left: 49px;
	color: rgb(255 255 255 / 70%);
	max-width: 63px;
	box-sizing: border-box;
	font-weight: 700;
}

.app .settings input[type="checkbox"]:checked~label .toggle_inner:before {
	content: attr(data-unchecked);
	left: 0;
}

.app .settings .toggle_inner::after {
	content: attr(data-unchecked);
	position: absolute;
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	background: #fff;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	color: #000000;
	top: 3px;
	left: 3px;
	border-radius: 25px;
	width: 50px;
	line-height: 24px;
	font-size: 14px;
	box-sizing: border-box;
	font-weight: 700;
}

.app .settings input[type="checkbox"]:checked~label .toggle_inner::after {
	content: attr(data-checked);
	transform: translate3d(49px, 0, 0);
	color: #368a65;
}

.app .settings .settings_icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 15px;
}

.app .settings .settings_icon.wind {
	background: url('../icons/settings/wind.svg') no-repeat center;
	background-size: 22px;
}

.app .settings .settings_icon.fahrenheit {
	background: url('../icons/settings/thermometer.svg') no-repeat center;
	background-size: 12px;
}

.app .settings .settings_icon.city {
	background-image: url('../icons/settings/location.svg');
	background-size: 25px;
}

.app .settings .settings_icon.time {
	background: url('../icons/settings/time.svg') no-repeat center;
	background-size: 20px;
}

.app .settings .settings_icon.darkmode {
	background: url('../icons/settings/darkmode.svg') no-repeat center;
	background-size: 20px;
}

.app .settings .setting_single {
	display: flex;
	align-items: center;
	padding: 14px;
	background: #f3f3f3;
	border-radius: 10px;
	margin-bottom: 15px;
}

.app .settings .settings_footer {
	margin-top: auto;
	text-align: center;
}

.app .settings .settings_footer p {
	color: grey;
}

.app .settings .settings_footer p a {
	color: grey;
}

.app .settings .button_bar {
	text-align: center;
	margin-top: 3rem;
}

.app .settings .settings_label {
	font-weight: 700;
	font-size: 30px;
	transition: color .3s ease-out;
	margin-bottom: 18px;
}

.app .settings .settings_close {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 0;
	background: url('../../assets/icons/settings/settings_back.svg') no-repeat center;
	background-color: #e9e9e9;
	background-size: 23px;
	cursor: pointer;
	border: none;
	transition: transform .3s ease-out;
}

.app .settings .settings_close:hover {
	transform: scale(1.1);
}

.app .settings .setting_label {
	transition: color .3s ease-out;
	font-weight: 500;
	color: #333;
	font-size: 14px;
}

.app .settings .setting_category {
	padding-bottom: 8px;
	margin-top: 30px;
	padding-left: 53px;
	font-weight: 700;
	letter-spacing: 1px;
	transition: color .3s ease-out;
	font-size: 14px;
}

/* Tabs */
.app .settings .tab {
	font-size: 25px;
	border-left: 5px solid transparent;
}

.app .settings .tab.active {
	border-left-color: red;
}

/* Location search input & custom dropdown */
.app .settings .custom_select {
	position: relative;
}

.app .settings .custom_select select {
	display: none;
}

.app .settings .select_selected {
	background-color: DodgerBlue;
}

.app .settings .select_selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.app .settings .select_selected.select_arrow_active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.app .settings .select_items div, .select_selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

.app .settings .select_items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.app .settings .select_hide {}

.app .settings .select_items div:hover, .same_as_selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.app .settings .search_container {
	margin-left: auto;
}

.app .settings .custom_input {
	width: 245px;
	outline: 0;
	border: none;
	border-bottom: 2px solid #000000;
	background: transparent;
	height: 30px;
	padding-left: 8px;
	font-size: 18px;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-family: "Lato";
}

.app .settings .custom_input::placeholder {
	font-size: 16px;
	color: #333;
	opacity: 0.5;
}
