/* - Author: Julian Orth
   - Version: 1.0
	 - URL: https://github.com/jukoor/smart-weather-tab
	 - Date: 01.01.2023
	 - Purpose: General App Styles

        DIRECTORY
 	 01 = GLOBAL
	 02 = WEATHER
	 03 = FORECAST
	 04 = RESPONSIVE
*/
/* === 01 GLOBAL STYLES === */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 400;
	color: #333;
}

div {
	position: relative;
}

p {
	color: #333;
	margin: 0;
}

.hide {
	opacity: 0;
}

.hidden {
	display: none !important;
}

.thin {
	font-weight: 300;
}

.app .background {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: whitesmoke;
}

.app .background::-webkit-scrollbar {
	width: 10px;
}

.app .background::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.app .background::-webkit-scrollbar-thumb {
	background: #888;
}

.app .background::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.app .heading {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 700;
	margin-top: 0;
	position: relative;
	padding-left: 5px;
}

.app .heading .set_date_today {
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	position: absolute;
	right: 0;
	transform: translateY(-10px);
	border-radius: 15px;
	cursor: pointer;
	color: #333;
	text-transform: uppercase;
	border: 2px solid #009688;
	transition: all .2s ease-out;
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 4px;
	width: 65px;
	top: 9px;
}

.app .heading .set_date_today:hover {
	background: #009688;
	color: #fff;
}

.app .heading .set_date_today.active {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}

/* === 02 WEATHER === */
.app .weather {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	max-width: 65rem;
	margin: 0 auto;
	top: 50%;
	gap: 60px 42px;
	transform: translateY(-50%);
}

.app .author {
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 1;
}

.app .author .link {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	white-space: nowrap;
}

.app .author .link:hover {
	text-decoration: underline;
}

.app .weather .current_weather {
	border-radius: 25px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	padding: 2rem;
	overflow: hidden;
	height: 275px;
	background-position: left center;
	position: relative;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	margin: 0;
}

.app .weather .current_details {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.app .weather .current_weather::before {
	content: '';
	position: absolute;
	left: 0;
	width: 40%;
	background: linear-gradient(90deg, #d7d7d7, transparent);
	top: 0;
	z-index: 1;
	display: block;
	height: 100%;
}

.app .weather .detail_data {
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	height: 310px;
}

.app .weather .current_weather .bg_img_container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.app .weather .current_weather .bg_img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 28px;
}

.app .weather .current_weather .col {
	flex: 1;
	z-index: 2;
}

.app .weather .current_weather .right_col {
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.55);
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.app .weather .box {
	flex: 1;
	flex-basis: 47%;
	padding: 1.1rem 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	margin: 5px;
	border-radius: 8px;
}

.app .weather .box .title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 5px;
}

.app .weather .box .value {
	font-size: 25px;
	font-weight: 600;
}

.app .weather .date_location {
	margin-bottom: 2rem;
}

.app .weather .country {
	font-weight: 400;
}

.app .weather .date {
	font-weight: 400;
	font-size: 14px;
}

.app .weather .location {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.app .weather .location::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 3px;
	background: #000;
	left: 0;
	bottom: -9px;
}

.app .weather .location .country {
	font-weight: 700;
}

.app .weather .description {
	text-align: center;
	background: #5252527d;
	display: inline-block;
	align-self: flex-start;
	border-radius: 25px;
	padding: 4px 15px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	margin-top: 11px;
}

.app .weather .description:first-letter {
	margin-right: 5px;
}

.app .weather .temp {
	font-size: 4rem;
}

.app .weather .temp::after {
	content: "";
	position: absolute;
	top: 0px;
}

body[data-temp-mode="celsius"] .app .weather .temp::after {
	content: "\2103";
}

body[data-temp-mode="fahrenheit"] .app .weather .temp::after {
	content: "\2109";
}

/* === 03 FORECAST === */
.app .details_and_forecast {
	display: flex;
	justify-content: space-between;
}

.app .details_and_forecast .col {
	flex: 1 0 47%;
	max-width: 47%;
}

.app .details_and_forecast .detail_data {
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
}

.app .forecast_list {
	margin: 5px;
	padding: 10px;
	background: #fff;
	border-radius: 15px;
	width: 100%;
	height: 305px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 20px;
}

.app .forecast_list .day {
	margin: 0;
	list-style: none;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0.8em 1rem 0.8rem 4.2rem;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	margin-top: -1px;
	transform: translateZ(0);
	transition: backgroundColor .3s ease;
}

.app .forecast_list .date_day {
	display: inline-block;
	flex: 0 0 34%;
	font-weight: 700;
}

.app .forecast_list .icon_description {
	display: inline-flex;
	align-items: center;
}

.app .forecast_list .day:hover {
	background-color: #f5f5f5;
}

.app .forecast_list .day::after {
	background: #cfcfcf;
	height: 1px;
	width: calc(100% - 20px);
	position: absolute;
	left: 10px;
	bottom: 0;
	content: '';
}

.app .forecast_list .day:last-child::after {
	display: none;
}

.app .forecast_list .day .day_description {
	backface-visibility: hidden;
	display: inline-block;
}

.app .forecast_list .day .day_description::first-letter {
	visibility: hidden;
}

.app .forecast_list .day.active {
	background: #e5e5e5;
}

.app .forecast_list .day::before {
	content: attr(data-day);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0.8rem;
	background: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-weight: 700;
	font-size: 13px;
	color: #fff;
	transform: translateZ(0) translateY(-50%);
	top: 50%;
}

.app .forecast .day_day {
	transform: translateZ(0);
}

.app .forecast .day_min {
	display: inline-block;
	font-weight: 100;
}

.app .forecast .day_max {
	font-weight: 700;
	backface-visibility: hidden;
	transform: translateZ(0);
	display: inline-block;
}

.app .forecast .day_min_max {
	backface-visibility: hidden;
	transform: translateZ(0);
	margin-left: auto;
	flex-basis: 23%;
	font-size: 20px;
	text-align: right;
}

.app .forecast .day_min {
	backface-visibility: hidden;
	transform: translateZ(0);
}

.app .forecast .day_icon {
	width: 27px;
	backface-visibility: hidden;
	display: inline-block;
	min-width: 30px;
	height: auto;
}

/* === 04 RESPONSIVE === */
@media (max-width: 1439px) {
	.app .weather {
		gap: 30px 20px;
	}

	.app .weather .current_weather {
		margin-bottom: 2rem;
		height: 240px;
	}

	.heading {
		font-size: 1.2rem;
		line-height: 1.2rem;
	}

	.heading .set_date_today {
		top: 0;
	}

	.app .forecast_list .day {
		padding: 0.5em 1.4rem 0.5rem 4rem;
	}

	.app .weather .location {
		font-size: 1.2rem;
	}

	.app .weather .temp {
		font-size: 2.8rem;
	}

	.app .forecast_list .day::before {
		width: 36px;
		height: 36px;
		left: 12px;
		font-size: 12px;
	}

	.app .weather .box {
		padding: 1.64rem 5px;
	}

	.app .weather .box .value {
		font-size: 20px;
	}

	.app .weather .box .title {
		font-size: 10px;
	}
}

@media (max-width: 1199px) {
	.app .weather {
		padding: 0 30px;
	}
}

@media (max-width: 767px) {
	.app .background {
		overflow-y: auto;
	}

	.app .weather {
		display: block;
		top: 0;
		transform: none;
		margin: 25px 0;
	}

	.app .weather .current_weather {
		margin: 0;
		margin-bottom: 25px;
	}

	.app .weather .current_details {
		margin-bottom: 25px;
	}

	.app .weather .box {
		padding: 15px 5px;
	}
}

@media (max-height: 820px) {
	.app .weather {
		gap: 30px 20px;
	}

	.app .heading {
		font-size: 1.4rem;
		line-height: 1;
	}
}
