/* === 00 Fonts == */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* === 01 Global Styles === */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
}

div {
	position: relative;
}

.hide {
	opacity: 0;
}

.hidden {
	display: none !important;
}

.thin {
	font-weight: 300;
}

.app .background {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: whitesmoke;
}

.heading {
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 0;
}

/* === 02 Weather === */
.app .weather {
	position: absolute;
	top: 10%;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 80vw;
	min-width: 300px;
	max-width: 95vw;
	border-radius: 25px;
}

.app .author {
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 1;
}

.app .author .link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	white-space: nowrap;
}

.app .author .link:hover {
	text-decoration: underline;
}

.app .weather .current_weather {
	border-radius: 25px;
	background: url('https://images.unsplash.com/photo-1540224485413-4c7939106f3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=960&q=80') no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	padding: 2rem;
	margin-bottom: 5rem;
}

.app .weather .current_weather .col {
	flex: 1;
}

.app .weather .current_weather .right_col {
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.55);
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.app .weather .box {
	flex: 1;
	flex-basis: 50%;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app .weather .box .title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
}

.app .weather .box .value {
	font-size: 20px;
}

.app .weather .date_location {
	margin-bottom: 2rem;
}

.app .weather .location {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.app .weather .location::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 3px;
	background: #000;
	left: 0;
	bottom: -9px;
}

.app .weather .location .country {
	font-weight: 700;
}

.app .weather .description {
	text-transform: capitalize;
	text-align: center;
	background: #525252a3;
	display: inline-block;
	align-self: flex-start;
	/* margin: 0 auto; */
	border-radius: 25px;
	padding: 3px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.app .weather .temp {
	font-size: 4rem;
	/* font-weight: 700; */
}

.app .weather .temp::after {
	content: '°';
	position: absolute;
	top: 0px;
	/* font-size: 40px; */
}

/* === 03 Forecast === */
.app .details_and_forecast {
	display: flex;
	justify-content: space-between;
}

.app .details_and_forecast .col {
	flex: 1 0 49%;
	max-width: 49%;
}

.app .details_and_forecast .detail_data {
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	border-radius: 25px;
	margin-right: 1rem;
}

.app .forecast {}

.app .forecast_list {
	margin: 0;
	padding: 0;
}

.app .forecast_list .day {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8em 2rem 0.8rem 5rem;
	border-radius: 25px;
	margin-bottom: 0.8rem;
	position: relative;
	border: 2px solid transparent;
	cursor: pointer;
}

.app .forecast_list .day.active {
	border-color: #333;
}

.app .forecast_list .day::before {
	content: attr(data-day);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0.8rem;
	background: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: #fff;
}

.app .forecast .day_day {}

.app .forecast .day_max {
	font-weight: 700;
	font-size: 20px;
}

.app .forecast .day_min {}

.app .forecast .day_icon {
	width: 30px;
	transform: scale(2);
}
