/* === 00 Fonts == */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

/* === 01 Global Styles === */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 300;
}

div {
	position: relative;
}

.hide {
	opacity: 0;
}

.hidden {
	display: none !important;
}

.thin {
	font-weight: 300;
}

.app .background {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: whitesmoke;
}

.heading {
	font-size: 2rem;
	line-height: 2rem;
	margin-top: 0;
	position: relative;
}

.heading .set_date_today {
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 0.8rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-70%);
	padding: 4px 10px;
	border-radius: 15px;
	cursor: pointer;
	color: #333;
	letter-spacing: 2px;
	font-weight: 600;
	border: 2px solid #009688;
	transition: all .2s ease-out;
	opacity: 0;
	pointer-events: none;
}

.heading .set_date_today:hover {
	background: #009688;
	color: #fff;
}

.heading .set_date_today.active {
	transform: translateY(-50%);
	opacity: 1;
	pointer-events: all;
}

/* === 02 Weather === */
.app .weather {
	position: absolute;
	top: 10%;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 80vw;
	min-width: 300px;
	max-width: 95vw;
	border-radius: 25px;
}

.app .author {
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 1;
}

.app .author .link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	white-space: nowrap;
}

.app .author .link:hover {
	text-decoration: underline;
}

.app .weather .current_weather {
	border-radius: 25px;
	background: url('https://images.unsplash.com/photo-1540224485413-4c7939106f3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=960&q=80') no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: row;
	padding: 2rem;
	margin-bottom: 5rem;
	overflow: hidden;
}

.app .weather .current_weather::before {
	content: '';
	position: absolute;
	left: 0;
	width: 70%;
	background: linear-gradient(90deg, #b3b3b3, transparent);
	top: 0;
	z-index: 1;
	display: block;
	height: 100%;
}

.app .weather .current_weather .col {
	flex: 1;
	z-index: 2;
}

.app .weather .current_weather .right_col {
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.55);
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.app .weather .box {
	flex: 1;
	flex-basis: 50%;
	padding: 2.1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app .weather .box .title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 5px;
}

.app .weather .box .value {
	font-size: 25px;
	font-weight: 600;
}

.app .weather .date_location {
	margin-bottom: 2rem;
}

.app .weather .location {
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.app .weather .location::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 3px;
	background: #000;
	left: 0;
	bottom: -9px;
}

.app .weather .location .country {
	font-weight: 700;
}

.app .weather .description {
	text-transform: capitalize;
	text-align: center;
	background: #525252a3;
	display: inline-block;
	align-self: flex-start;
	/* margin: 0 auto; */
	border-radius: 25px;
	padding: 4px 15px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.app .weather .description .emoji {
	display: inline-block;
	margin-right: 10px;
}

.app .weather .temp {
	font-size: 4rem;
	/* font-weight: 700; */
}

.app .weather .temp::after {
	content: '°';
	position: absolute;
	top: 0px;
	/* font-size: 40px; */
}

/* === 03 Forecast === */
.app .details_and_forecast {
	display: flex;
	justify-content: space-between;
}

.app .details_and_forecast .col {
	flex: 1 0 47%;
	max-width: 47%;
}

.app .details_and_forecast .detail_data {
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	border-radius: 25px;
}

.app .forecast {}

.app .forecast_list {
	margin: 0;
	padding: 0;
}

.app .forecast_list .day {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8em 2rem 0.8rem 4.2rem;
	border-radius: 25px;
	margin-bottom: 0.8rem;
	position: relative;
	border: 2px solid transparent;
	cursor: pointer;
	transform: translateZ(0);
	transition: border .3s linear;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.app .forecast_list .day:hover,
.app .forecast_list .day.active {
	border-color: #333;
}

.app .forecast_list .day .day_description {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.app .forecast_list .day.active {
	animation: bounce 1 0.5s forwards ease;
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}
}

.app .forecast_list .day::before {
	content: attr(data-day);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0.8rem;
	background: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	transform: translateZ(0);
}

.app .forecast .day_day {
	transform: translateZ(0);
}

.app .forecast .day_min {
	width: 22px;
	display: inline-block;
}

.app .forecast .day_max {
	font-weight: 700;
	font-size: 20px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	transform: translateZ(0);
	width: 22px;
	display: inline-block;
}

.app .forecast .day_min_max {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	transform: translateZ(0);
}

.app .forecast .day_min {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	transform: translateZ(0);
}

.app .forecast .day_icon {
	width: 30px;
	transform: scale(2);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

/* === 04 Settings === */
.app .settings_outer {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	width: 30px;
	height: 30px;
}

.app .settings_trigger {
	border: none;
	box-shadow: none;
	outline: 0;
	padding: 0;
	background: transparent;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.app .settings_trigger::before {
	content: '';
	width: 130%;
	height: 130%;
	background: transparent;
	transition: background .3s ease-out;
	left: -9px;
	top: -8px;
	position: absolute;
	border-radius: 50%;
}

.app .settings_trigger:hover::before {
	background: #dbdbdb;
}

.app .settings_trigger .bar {
	width: 24px;
	height: 2px;
	top: 3px;
	left: 0;
	background: #333;
	position: absolute;
}

.app .settings_trigger .bar.mid {
	top: 11px;
}

.app .settings_trigger .bar.bot {
	top: 19px;
}

.app .settings_trigger .handle {
	background: #333;
	position: absolute;
	width: 6px;
	left: 5px;
	top: 1px;
	height: 6px;
	border-radius: 50%;
	transition: transform .3s ease-out;
}

.app .settings_trigger .handle.mid {
	top: 9px;
	left: 14px;
}

.app .settings_trigger .handle.bot {
	top: 17px;
}

.app .settings_trigger:hover .handle.top {
	transform: translateX(6px);
}

.app .settings_trigger:hover .handle.mid {
	transform: translateX(-9px);
}

.app .settings_trigger:hover .handle.bot {
	transform: translateX(6px);
}

/* === Responsive === */
@media (max-width: 1399px) {
	.app .weather .current_weather {
		margin-bottom: 3rem;
	}

	.heading {
		font-size: 1.2rem;
	}

	.app .forecast_list .day {
		padding: 0.6em 1.4rem 0.6rem 5rem;
	}

	.app .weather {
		top: 6%;
	}

	.app .weather .location {
		font-size: 1rem;
	}

	.app .weather .temp {
		font-size: 2.8rem;
	}

	.app .forecast_list .day::before {
		width: 36px;
		height: 36px;
		left: 12px;
		font-size: 12px;
	}
}
